<head>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</head>
<body>

    <table id="month_table"  class="display">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 2</th>
            <th>Column 2</th>
            <th>Column 2</th>
            <th>Column 2</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>>
        {%for mt in monthly_transactions%}
            <tr>
                <td>{{ mt[0] }}</td>
                <td>{{ mt[1] }}</td>
                <td>{{ mt[2] }}</td>
                <td>{{ mt[3] }}</td>
                <td>{{ mt[4] }}</td>
                <td>{{ mt[5] }}</td>
                <td>{{ mt[6] }}</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
    
    <script  type="text/javascript" >
        $(document).ready( function () {
            $('#month_table').DataTable();
        } );
    </script>
</body>