<head>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.20/api/sum().js"></script>
</head>
<body>

    <table id="month_table"  class="display">
    <thead>
        <tr>
            <th>Price</th>
            <th>Mode</th>
            <th>Merchant</th>
            <th>date time</th>
            <th>category</th>
            <th>sub category</th>
            <th>id</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {%for mt in monthly_transactions%}
            <tr>
                <td>{{ mt[0] }}</td>
                <td>{{ mt[1] }}</td>
                <td>{{ mt[2] }}</td>
                <td>{{ mt[3] }}</td>
                <td>{{ mt[4] }}</td>
                <td>{{ mt[5] }}</td>
                <td>{{ mt[6] }}</td>
                <td><a href="{{ url_for('delete', _id=mt[6]) }}">Delete</a></td>
            </tr>
        {%endfor%}
        </tbody>
        <tfoot>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tfoot>
    </table>
    
    <script  type="text/javascript" >
        $(document).ready( function () {
            table = $('#month_table').DataTable( {
                pageLength: 100,
                drawCallback: function () {
                var api = this.api();
                $( api.table().footer() ).html(
                    api.column(1, {page:'current'} ).data().sum()
                );
                }
            } );
            table.order([4, 'desc']).draw();
        } );
    </script>
</body>